/* import bootstrap */
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/* body */
body {
    width: 512px;
}

/* container */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */

/* main */
main {
    background-color: rgba(25, 25, 25);
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    bottom: 0;
}

/* side box */
.side-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 20% 1 0;
    gap: 15px;
    padding-top: 30px;

    .side-item img {        
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    
    .side-item:first-child img {
        border-radius: 20%;
    }
}

/* main box */
.main-box {
    background-color: rgba(50, 50, 50, 0.5);
    flex: 80% 0 0;
    overflow: auto;
    margin-top: 10px;
    border-radius: 30px 0 0;
}

/* footer */
footer {
    background-color: rgb(60, 60, 60);
    height: 100px;
}

