/* import bootstrap */
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed rgb(87, 0, 158);
}