/* import bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    width: 512px;
}

/* container */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */

/* main */
main {
    background-color: rgba(25, 25, 25);
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    bottom: 0;
}

/* side box */
.side-box {
    flex: 90px 0 0;
    gap: 15px;
    padding-top: 30px;
    
    .side-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        

        input {
            display: none;
        }
        
        label {
            cursor: pointer;
            margin: 8px;
            
            img {        
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }
        
        input:checked + label::before {
            content: "";
            height: 55px;
            border-right: 5px solid rgba(255, 255, 255, 0.993);
            border-radius: 0 10px 10px 0;    
            position: absolute;
            top: 15px;
            left: 1px;
        }

        input:checked + label .icon {
            width: 70px;
            height: 70px;
            box-shadow: 0 0 20px rgb(255, 0, 0);
        }
    }
    
    .side-item:first-child .icon {
        border-radius: 20px;
    }
}

.icon:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255)
}

/* main box */
.main-box {
    background-color: rgb(50, 50, 50);
    flex: auto 1 1;
    min-width: 310px;
    overflow: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 30px 0 0;
    color: white;
    
    .title {
        padding: 0 10px;
    }

    .search {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 10px;

        i {
            background-color: rgb(63, 63, 63);
            padding: 6px;
            border-radius: 50%;
            
        }

        button {
            background-color: rgb(63, 63, 63);
            flex-grow: 1;
            width: 20px;
            border: 0;
            border-radius: 30px;
            color: white;
        }
    }
}

.message-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    color: rgba(211, 211, 211, 0.568);
    text-shadow: 0 1px 2px rgb(41, 37, 37);
    border-radius: 20px;
    padding: 10px;
    position: relative;
    
    .photo-box {
        position: relative;
    }
    
    .photo-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .contact {
        display: flex;
        flex-direction: column;
        flex: auto 1 1;
        margin: 0 15px;
        font-size: 1.25rem;

        .msg-preview {
            font-size: 0.9rem;
        }
    }

    .time-info {
        flex: 10% 0 1;
    }
}

/* highlight message box*/
.message-box:hover {
    background-color: rgb(92, 92, 92);
    color: white;
}

/* status flag */
.flag {
    border: 5px solid rgb(50, 50, 50);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 3px;
}

.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}


/* footer */
footer {
    background-color: rgb(60, 60, 60);
    height: 100px;

    .add-chat {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(145, 142, 142, 0.603);
        height: 40px;
        width: 40px;
        position: fixed;
        transform: translate(-50%, -50%);
        left: 460px;
        bottom: 90px;
        color: rgba(196, 201, 200, 0.938);
        font-size: 40px;
        border-radius: 50%;
        box-shadow: 0 0 5px white;
        
    }
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    color: white;
    font-size: 20px;

    .nav-item {
        background-color: transparent;
        border: none;
        border-radius: 60px;
        height: 70px;
        width: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        
        i {
            color: white;
            font-size: 28px;
        }

        span {
            color: white;
            font-size: 0.7rem;
        }

        .profilo {
            background-image: url(../img/profilo-bgw.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }
}

