/* import bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    width: 512px;
}

/* container */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */

/* main */
main {
    background-color: rgba(25, 25, 25);
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    bottom: 0;
}

/* side box */
.side-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 20% 1 0;
    gap: 15px;
    padding-top: 30px;

    .side-item img {        
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    
    .side-item:first-child img {
        border-radius: 20%;
    }
}

/* main box */
.main-box {
    background-color: rgba(50, 50, 50, 0.5);
    flex: 80% 0 0;
    overflow: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 30px 0 0;
    color: white;
    
    .title {
        padding: 0 10px;
    }

    .search {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 10px;

        i {
            background-color: rgb(63, 63, 63);
            padding: 6px;
            border-radius: 50%;
            
        }

        button {
            background-color: rgb(63, 63, 63);
            flex-grow: 1;
            width: 20px;
            border: 0;
            border-radius: 30px;
            color: white;
        }
    }
}

.message-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    color: rgba(211, 211, 211, 0.568);
    text-shadow: 0 1px 2px rgb(41, 37, 37);
    border-radius: 20px;
    padding: 2px;
    
    .photo-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .contact {
        display: flex;
        flex-direction: column;
        flex: auto 1 1;
        margin: 0 15px;
        font-size: 1.25rem;

        .msg-preview {
            font-size: 0.9rem;
        }
    }

    .time-info {
        flex: 10% 0 1;
    }
}


/* footer */
footer {
    background-color: rgb(60, 60, 60);
    height: 100px;    
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    color: white;
    font-size: 20px;

    .nav-item {
        background-color: transparent;
        border: none;
        border-radius: 60px;
        height: 70px;
        width: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        
        i {
            color: white;
            font-size: 28px;
        }

        span {
            color: white;
            font-size: 0.7rem;
        }

        .profilo {
            background-image: url(../img/profilo-bgw.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }

}